<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>this is AP2</h1>
    <% let url = "http://test.cas-example.com:3000/?checksum=" + checksum + "&serviceUrl=" + serviceUrl; %>
    <a href=<%= url %>>go to login <%= url %> </a>
</body>
</html>